@import url("/home/jon/.cache/wal/waybar.css");

window#waybar {
    background: @background;
    font-family: "JetBrains Mono Nerd Font", monospace;
    color: @foreground;
    font-size: 14px;
    font-weight: 600;
    border: none;
}

.modules-left,
.modules-center,
.modules-right {
    background: transparent;
    margin: 0px;
    padding: 0px 0px;
    border: none;
}

#workspaces {
padding: 0px 6px;
margin: 0px 0px;
border: none;
background: transparent;
font-size: 16px;
color: transparent;
opacity: 1;
}

#workspaces button {
padding: 0px 0px;
margin: 0px 4px;
border: 3px solid transparent;
border-radius: 0px;
background: transparent;
color: @foreground;
opacity: 0.2;
}

#workspaces button:hover {
box-shadow: none;
text-shadow: none;
background: none;
transition: none;
opacity: 1;
}

#workspaces button.active {
color: @color3;
opacity: 1;
font-weight: 800;
transition: all 0.4s ease-in;
}

#clock {
color: @foreground;
opacity: 1;
font-weight: 600;
font-size: 16px;
}

#cpu {
background: transparent;
color: @foreground;
margin: 4px 0px 4px 4px;
border-radius: 2px;
padding: 2px 6px;
font-weight: 600;
font-size: 14px;
}

#memory {
background: transparent;
color: @foreground;
margin: 4px 0px;
border-radius: 2px;
padding: 2px 6px;
font-weight: 600;
font-size: 14px;
}

#network{
background: transparent;
padding: 0px;
padding-top: 1px;
margin: 0px 12px 0px 0px;
color: @color3;
font-size: 18px;
}

#bluetooth{
background: transparent;
padding: 0px;
padding-top: 1px;
margin: 0px 12px 0px 0px;
color: @color3;
font-size: 18px;
}

#tray {
margin: 0px;
padding: 0px 0px 0px 0px;
}

#wireplumber {
background: transparent;
padding: 0px;
margin: 0px 12px 0px 0px;
color: @foreground;
font-weight: 600;
font-size: 16px;
}

#wireplumber:hover {
color: @color2;
transition: all 0.4s ease-in;
}

#custom-separator {
margin: 0px 8px 0px 8px;
padding: 0px;
color: @foreground;
opacity: 0.6;
font-weight: 400;
font-size: 16px;
background: transparent;
}

tooltip {
    background: @background;
}

tooltip label {
    color: @foreground;
    font-weight: 600;
}
